body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    
}
        /* Começo do CSS SlideShow */
.slideShow{

    width: 700px;
    height: 400px;
    overflow: hidden;
    

}

/*verificar o posicionamento do slide, no momento esta centralizado*/
.meio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );

}

.navagacao{
    
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%)
    
}

.barra{
    width: 50px;
    height: 10px;
    border:  2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.barra:hover{
    background: white;
}



input[name="r"]{
    position: absolute;
    visibility:hidden;

}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}



/* Final SlideShow */

.menu-top{
    display: flex;
    max-width: 1060px;
    padding: 10px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} 
.nav-top ul{
    display: flex;
    flex-wrap: wrap;
}
.nav-top li{
    
    list-style-type: none;
    transition: 0.5s;
    padding: 25px;
    padding-right: 50px ;
}
.nav-top a{
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
    
}

/*Interatividade - efeito */
ul:hover li a{
    transform: scale(1.5);
    opacity: .2;
    filter: blur(3px);
    
}
ul li:hover a{
    
    color: #ffff;
}
ul li a:hover{
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}
a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EF5756;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}
ul li a:hover:before{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scale(1);
}

/*Fim do efeito*/

footer img{
    display: flex;
    float: right;
    padding: 10px;
    margin: 0 auto;
    height: 25px;
    align-items: flex-end;
}
 .direitos{
    color: white;
    font-size: x-small;
    text-align: center;
    padding-top: 5px;
    
    
}
